{% extends 'base.html.twig' %}

{% block body %}
<h2>Dashboard</h2>
<h3>{% trans %}Debt Overview{% endtrans %}</h3>
{% for id,user in sums %}
    {% for amount in user %}
    	<p><a href="{{ path('showuserdebt', {'userId' : id}) }}">{{ attribute(users, id) }}</a></p>
        {% include 'money.html.twig' with { money : amount } %}
    {% endfor %}
{% endfor %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
