{% extends 'base.html.twig' %}

{% block body %}
<h2>add a new Payment</h2>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<script>
    $(document).ready(function() {
    	$(".js-example-basic-multiple").select2();
    	$(".currencyinput").select2();
        $('.js-datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });
		var x = $("#moneyinput");
        var formatter = new Intl.NumberFormat('de-DE', {
       		style: 'currency',
        	currency: 'EUR',
        	minimumFractionDigits: 2,
        });
        x.text(formatter.format(x.text()));
    });
</script>

{% endblock %}

{% block stylesheets %}
{% endblock %}
